body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #c9efc7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9efc7;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #c9efc7;
}

.Navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  line-height: 100px;
  background-color: #c9efc7;
  z-index: 3;
  width: 100%;
}

.NavbarInline li {
  font-size: 22px;
  color: #454545;
  display: inline;
  float: left;
  margin-right: 75px;
  font-weight: bold;
}

.darkmode {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
}

@media (max-width: 992px) {
  .NavbarInline li {
    font-size: 20px;
    margin-right: 30px;
  }
  .darkmode {
    width: 50px;
    top: 25px;
    right: 16px;
  }
}

@media (max-width: 768px) {
  .NavbarInline li {
    font-size: 14px;
    margin-right: 20px;
  }
  .darkmode {
    width: 40px;
    top: 30px;

  }
}

@media (max-width: 576px) {
  .NavbarInline li {
    font-size: 12px;
    margin-right: 16px;
  }
  .darkmode {
    width: 28px;
    top: 36px

  }
}

.homebutton {
  list-style-type: none;
  margin-top: 5px;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}

.loginbutton {
  margin-left: 750px;
}

@media (max-width: 768px) {
  .loginbutton {
    font-size: 14px;
    margin-right: 20px;
  }
}

.header {
  margin-top: 100px;
}
.feed-box {
  border: 1px solid #ccc;
  padding: 0px;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
}

.aboutheader {
  font-size: xx-large;
  font-weight: bold;
}

.about-container{
  margin-top: 0px;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.backgroundimg {
  opacity: 0.5;
  width: 100vw;
}

.backgroundimgtitle {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  color: black;
  top: 0;
  margin-top: 28%;
  left: 50%;
  transform: translate(-50%);
}

.aboutsub {
font-size: 20px;
font-weight: bold;

}
.aboutcontent {
  width: 60%;
  margin-left: 20%;
}

.content-container {
  height: fit-content;
  width: 65%;
  position: relative;
}

.welcomeBack {
  text-align: right;
}


.authUser {
  height: 100vh;
  width: 100vw;
  font-size: 25px;
}

.createUser-container {
  margin-top: 0px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 25px;
}

.welcomeText{
  padding-top: 35px;
}

.formControlLogin {
  margin-left: 25%;
  margin-right: 25%;
}

.viewJourney {
  padding-top: 25px;
  font-size: 25px;
  height: 100vh;
}

.dropDownCountries{
  margin-left: 160px;
  margin-right: 160px;
}

.profilePage {
  height: 100vh;
  width: 100vw;
}

.journeyOverview {
  height: fit-content;
  width: 100%;
}

.createJourney {
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 1000px) {
  .backgroundimgtitle {
    top: 100px;
    font-size: 30px;
    margin-top: 0;
  }

  .content-container {
    margin-left: 10px;
    width: 80%;
  }
}
