body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #c9efc7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9efc7;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #c9efc7;
}

.Navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  line-height: 100px;
  background-color: #c9efc7;
  z-index:3
}

.NavbarInline li {
  font-size: 25px;
  color: #454545;
  display: inline;
  float: left;
  margin-right: 75px;

  font-weight: bold;
}

.homebutton {
  list-style-type: none;
  margin-top: 5px;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}

.loginbutton {
  margin-left: 750px;
}

.header {
  margin-top: 100px;
}
.feed-box {
  border: 1px solid #ccc;
  padding: 0px;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
}

.aboutheader {
  font-size: xx-large;
  font-weight: bold;
}

.about-container{
  margin-top: 0px;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.backgroundimg {
  opacity: 0.5;
  width: 100vw;
}

.backgroundimgtitle {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  color: #454545;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-container {
  height: 100vh;
  width: 65%;
  position: relative;
}

.welcomeBack {
  text-align: right;
}


.authUser {
  height: 100vh;
  width: 100vw;
  font-size: 25px;
}

.createUser-container {
  margin-top: 0px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 25px;
}

.welcomeText{
  padding-top: 35px;
}

.formControlLogin {
  margin-left: 25%;
  margin-right: 25%;
}

.viewJourney {
  padding-top: 25px;
  font-size: 25px;
  height: 100vh;
}

.dropDownCountries{
  margin-left: 160px;
  margin-right: 160px;
}

.profilePage {
  height: 100vh;
  width: 100vw;
}

.journeyOverview {
  height: 10000px;
}

.createJourney {
  height: 100vh;
  width: 100vw;
}